body{
    background-color: rgb(122, 122, 122);
    
}
.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: 240px; 
}
.tit1{
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
    float: right;
    font-size: 80px;
    font-family: 'Times New Roman';
    text-align: center;
    height: 40%;
    color: rgb(0, 0, 0);
}
.poe{
    margin-left: 12px;
    margin-right: 10px;
    width: 95%;
    height: 100%;
    float: left;
}
.contenido{
    text-align: justify;
    height: 480px;
    width: 65%;
    border-radius: 2%;
    float: right;
    margin-right: 20px;
    color: white;
}
.tit-izq{
    width: 80px;
}
.columna_izquierda{
    float: left;
    width: 25%;
}
.contenedor{
   overflow: hidden;
}
a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-family: 'Courier New';
}
