/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.altoPrecio{
  color:gray;
  font-size: 18px;
}

.fondoRojo{
  background: red;
}

.subrayado{
  text-decoration: underline;
}
