body{
    background-color: rgb(101, 102, 104);
}
.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 300px;
    float: left;
}
.cuento{
    width: 98%;
    height: 380px;
    background-color: rgb(66, 81, 85);
    margin-top: 130px;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(184, 226, 228, 0.938);
    text-align: justify;
  }
  p{
      margin-left: 3px;
      margin-right: 3px;
  }
  .izquierda{
    width: 8%;
    height: 8%;
    margin-left: 35%; 
  }
  .inicio{
    width: 8%;
    height: 8%;
    margin-left: 3%;
  }
  .derecha{
      width: 8%;
      height: 8%;
      float: right;
      margin-right: 30%;
  }
  .tit1{
      font-size: 50px;
      color: white;
  }
  .titglosario{
          font-size: 70px;
          color: rgb(0, 14, 8);
  }
  .glosario{
    width: 98%;
    height: 380px;
    background-color: rgb(41, 73, 60);
    margin-top: 30px;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(147, 189, 187, 0.938);
    text-align: justify;   
  }
  .topinion{
      margin-top: 3px;
    font-size: 40px;
    color: rgb(207, 90, 114);
  }
  .opinion{
    width: 98%;
    height: 250px;
    background-color: rgb(88, 71, 94);
    margin-top: 30px;
    margin-left: 1%;
    border-radius: 2%;
    overflow: scroll;
    color: rgba(209, 116, 79, 0.938);
    text-align: justify; 
  }
  .siguientes{
    overflow: hidden;
  }